<!DOCTYPE html>
<html lang="en">
  <head>
  <meta charset="utf-8">
  <title>AJS02 Calculation</title>
 <!-- ***************************************************************
  *                                                                 *
  * FILE NAME: index.htm                                            *
  * FOLDER NAME(s): Desktop/AJS02 Calculation                       *
  * AUTHOR: Stefan Weissenmayer                                     *
  * DATE: 31/07/2017                                                *
  * REV: 1                                                          *
  * DESCRIPTION:                                                    *
  * AJS02 Calculation                                               *
  *                                                                 *
  ******************************************************************* -->
  <style type="text/css">
  #wrapper {		
	background-color: white;
	width: 1200px;
	margin: auto;
	margin-top: 0;	
  }

  .goodWarning {
    font-weight: bold;
	color: green;
	background-color: white;
  }

  .warning {
    font-weight: bold;
	color: red;
	background-color: white;
  }

  </style>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  <script src="scripts/script.js"></script>
  </head>
  <body id="myBody" ng-app>
  <div id="wrapper">

  <h1>The AngularJS Calculation</h1>
  <p><input type="text" id="textInputAJS" ng-model="num1"> &times;
  <input type="text" id="textInputAJS" ng-model="num2"> = {{num1 * num2}}</p>
  <p>5 / 2 = {{5/2}}</p>

  
	<div class="clearBoth">
	  &nbsp;
	</div>
  </div>
  </body>
</html>